In [631]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
from matplotlib import pyplot as plt
from sklearn import preprocessing
import unittest
import datetime
import warnings
warnings.filterwarnings('ignore')

In [632]:
os.listdir()

['.ipynb_checkpoints',
 'AUS.xlsx',
 'Data Engineer Technical Assessment.docx',
 'Incubyte.ipynb',
 'Incubyte_PDF.pdf',
 'IND.csv',
 'ReadME.odt',
 'ReadME.pdf',
 'Submission',
 'Submission.zip',
 'USA.csv']

In [633]:
#First lets read all the data files and check theri size

In [634]:
#USA.csv
dt1  = pd.read_csv('USA.csv')

In [635]:
dt1.shape

(3, 4)

In [636]:
dt1.head()

   ID  Name VaccinationType  VaccinationDate
0   1   Sam             EFG          6152022
1   2  John             XYZ          1052022
2   3  Mike             ABC         12282021

In [637]:
#Date format seems like MM/DD/YY . Will build a helper function later on to convert to datetitme from int64

In [638]:
#statistical summary
dt1.describe(include="all")

         ID Name VaccinationType  VaccinationDate
count   3.0    3               3     3.000000e+00
unique  NaN    3               3              NaN
top     NaN  Sam             EFG              NaN
freq    NaN    1               1              NaN
mean    2.0  NaN             NaN     6.495355e+06
std     1.0  NaN             NaN     5.622866e+06
min     1.0  NaN             NaN     1.052022e+06
25%     1.5  NaN             NaN     3.602022e+06
50%     2.0  NaN             NaN     6.152022e+06
75%     2.5  NaN             NaN     9.217022e+06
max     3.0  NaN             NaN     1.228202e+07

In [639]:
dt1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               3 non-null      int64
 1   Name             3 non-null      object
 2   VaccinationType  3 non-null      object
 3   VaccinationDate  3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes

In [640]:
dt1.nunique()

ID                 3
Name               3
VaccinationType    3
VaccinationDate    3
dtype: int64

In [641]:
#Null values per column
dt1.isna().sum()

ID                 0
Name               0
VaccinationType    0
VaccinationDate    0
dtype: int64

In [642]:
#Date format is in mm dd yyyy format

In [643]:
#Now we can write unit tests for each column

In [644]:
#checks if all values in a Pandas series representing the "VaccinationDate" column are valid dates
def check_vaccination_dates(series):
    for date_str in series:
        try:
            datetime.datetime.strptime(str(date_str), '%m%d%Y')
        except ValueError:
            return False
    return True

# The check_name_column, and check_vaccination_type_column functions check if all values in the 
# "Name", and "VaccinationType" columns, respectively, are of the expected data type (integer for "D" and string for
# "Name" and "VaccinationType").

def check_name_column(series):
    return all(isinstance(x, str) for x in series)

def check_vaccination_type_column(series):
    return all(isinstance(x, str) for x in series)

# The check_dataframe function takes a Pandas dataframe as input and calls the other functions to check the
# validity of each column. It returns True if all columns are valid, and False otherwise.
def check_dataframe(df):
    return (
            check_name_column(df['Name']) and
            check_vaccination_type_column(df['VaccinationType']) and
            check_vaccination_dates(df['VaccinationDate']))

In [645]:
print("Is dataframe data valid :", check_dataframe(dt1))

Is dataframe data valid : True

In [646]:
tc = unittest.TestCase()
tc.assertTrue( check_dataframe(dt1),"Data is not valid")

In [647]:
dt1['VaccinationDate'] =  dt1['VaccinationDate'].map(lambda x : datetime.datetime.strptime(str(x), '%m%d%Y'))

In [648]:
dt1.head()

   ID  Name VaccinationType VaccinationDate
0   1   Sam             EFG      2022-06-15
1   2  John             XYZ      2022-10-05
2   3  Mike             ABC      2021-12-28

In [649]:
type(dt1['VaccinationDate'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [650]:
#IND.csv
dt2  = pd.read_csv('IND.csv')

In [651]:
dt2.shape

(3, 6)

In [652]:
dt2.head()

   ID    Name         DOB VaccinationType VaccinationDate Free or Paid
0   1   Vikas  1998-12-01             XYZ      2022-01-01            F
1   2   Rahul  1982-08-13             ABC      2022-03-05            P
2   3  Sameer  1952-08-13             ABC      2022-02-20            F

In [653]:
#statistical summary
dt2.describe(include="all")

         ID   Name         DOB VaccinationType VaccinationDate Free or Paid
count   3.0      3           3               3               3            3
unique  NaN      3           3               2               3            2
top     NaN  Vikas  1998-12-01             ABC      2022-01-01            F
freq    NaN      1           1               2               1            2
mean    2.0    NaN         NaN             NaN             NaN          NaN
std     1.0    NaN         NaN             NaN             NaN          NaN
min     1.0    NaN         NaN             NaN             NaN          NaN
25%     1.5    NaN         NaN             NaN             NaN          NaN
50%     2.0    NaN         NaN             NaN             NaN          NaN
75%     2.5    NaN         NaN             NaN             NaN          NaN
max     3.0    NaN         NaN             NaN             NaN          NaN

In [654]:
dt2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               3 non-null      int64
 1   Name             3 non-null      object
 2   DOB              3 non-null      object
 3   VaccinationType  3 non-null      object
 4   VaccinationDate  3 non-null      object
 5   Free or Paid     3 non-null      object
dtypes: int64(1), object(5)
memory usage: 272.0+ bytes

In [655]:
dt2.nunique()

ID                 3
Name               3
DOB                3
VaccinationType    2
VaccinationDate    3
Free or Paid       2
dtype: int64

In [656]:
#Null values per column
dt2.isna().sum()

ID                 0
Name               0
DOB                0
VaccinationType    0
VaccinationDate    0
Free or Paid       0
dtype: int64

In [657]:
#Testing for data

In [658]:
def is_valid_name_series(name_series):
    """Check if a Pandas Series of names is valid."""
    return not name_series.isnull().any() and all(name_series.astype(str).str.strip() != '')

def is_valid_dob_series(dob_series):
    """Check if a Pandas Series of dates of birth is valid."""
    is_valid = True
    for dob in dob_series:
        try:
            datetime.datetime.strptime(dob, '%Y-%m-%d')
        except ValueError:
            is_valid = False
            break
    return is_valid

def is_valid_vaccine_type_series(vaccine_type_series):
    """Check if a Pandas Series of vaccine types is valid."""
    return not vaccine_type_series.isnull().any() and all(vaccine_type_series.astype(str).str.strip() != '')

def is_valid_date_series(date_series):
    """Check if a Pandas Series of dates is valid."""
    is_valid = True
    for date in date_series:
        try:
            datetime.datetime.strptime(date, '%Y-%m-%d')
        except ValueError:
            is_valid = False
            break
    return is_valid

def is_valid_free_paid_series(free_paid_series):
    """Check if a Pandas Series of free or paid flags is valid."""
    return not free_paid_series.isnull().any() and all(free_paid_series.isin(['F', 'P']))

def is_valid_dataframe(df):
    """Check if a Pandas DataFrame is valid."""
    return (
        is_valid_name_series(df['Name']) and
        is_valid_dob_series(df['DOB']) and
        is_valid_vaccine_type_series(df['VaccinationType']) and
        is_valid_date_series(df['VaccinationDate']) and
        is_valid_free_paid_series(df['Free or Paid'])
    )

In [659]:
print("Is dataframe data valid :", is_valid_dataframe(dt2))

Is dataframe data valid : True

In [660]:
tc.assertTrue( is_valid_dataframe(dt2),"Data is not valid")

In [661]:
#Vaccination date is of type yyyy-mm-dd will of type str

In [662]:
type(dt2['VaccinationDate'].iloc[0])

str

In [663]:
dt2['VaccinationDate'] =  dt2['VaccinationDate'].map(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d'))

In [664]:
dt2.head()

   ID    Name         DOB VaccinationType VaccinationDate Free or Paid
0   1   Vikas  1998-12-01             XYZ      2022-01-01            F
1   2   Rahul  1982-08-13             ABC      2022-03-05            P
2   3  Sameer  1952-08-13             ABC      2022-02-20            F

In [665]:
type(dt2['VaccinationDate'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [666]:
#AUS.xlsx

In [667]:
dt3  = pd.read_excel('AUS.xlsx')

In [668]:
dt3.shape

(3, 5)

In [669]:
dt3.head()

   Unique ID Patient Name Vaccine Type Date of Birth  Date of Vaccination
0          1         Mike          LMN           NaT  2022-05-11 00:00:00
1          2    Jonnathan          XYZ    1997-12-13           2021-13-13
2          3     Cristina          ABC    1998-03-12  2022-03-12 00:00:00

In [670]:
#Date of vaccination is of type yyyy-mm-dd. Will later convert to datetime using helper function

In [671]:
#statistical summary
dt3.describe(include="all")

,Unique ID,Patient Name,Vaccine Type,Date of Birth,Date of Vaccination
count,3.0,3,3,2,3
unique,NaN,3,3,2,3
top,NaN,Mike,LMN,1997-12-13 00:00:00,2022-05-11 00:00:00
freq,NaN,1,1,1,1
first,NaN,NaN,NaN,1997-12-13 00:00:00,NaN
last,NaN,NaN,NaN,1998-03-12 00:00:00,NaN
mean,2.0,NaN,NaN,NaN,NaN
std,1.0,NaN,NaN,NaN,NaN
min,1.0,NaN,NaN,NaN,NaN
25%,1.5,NaN,NaN,NaN,NaN
50%,2.0,NaN,NaN,NaN,NaN
75%,2.5,NaN,NaN,NaN,NaN
max,3.0,NaN,NaN,NaN,NaN

In [672]:
dt3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unique ID            3 non-null      int64
 1   Patient Name         3 non-null      object
 2   Vaccine Type         3 non-null      object
 3   Date of Birth        2 non-null      datetime64[ns]
 4   Date of Vaccination  3 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 248.0+ bytes

In [673]:
dt3.nunique()

Unique ID              3
Patient Name           3
Vaccine Type           3
Date of Birth          2
Date of Vaccination    3
dtype: int64

In [674]:
#Null values per column
dt3.isna().sum()

Unique ID              0
Patient Name           0
Vaccine Type           0
Date of Birth          1
Date of Vaccination    0
dtype: int64

In [675]:
#One null value in date of birth

In [676]:
#Data testing

def is_valid_id(df):
    # Check if ID is unique and greater than zero
    if not df['Unique ID'].is_unique:
        return False
    if (df['Unique ID'] <= 0).any():
        return False
    return True


def is_valid_patient_name(df):
    # Check if patient name column only contains alphabets and spaces
    if not df['Patient Name'].str.match(r'^[a-zA-Z ]+$').all():
        return False
    return True


def is_valid_vaccine_type(df):
    # Check if vaccine type is one of the given types
    allowed_types = {'ABC', 'XYZ', 'LMN'}
    if not set(df['Vaccine Type']).issubset(allowed_types):
        return False
    return True


def is_valid_date_of_birth(df):
    # Check if date of birth column contains valid dates
    try:
        pd.to_datetime(df['Date of Birth'])
        return True
    except ValueError:
        return False


def is_valid_date_of_vaccination(df):
    # Check if date of vaccination column contains valid dates
    try:
        pd.to_datetime(df['Date of Vaccination'])
        return True
    except ValueError:
        return False
        

def is_valid_dataframe1(df):
    # Check if all columns contain valid data
    if not is_valid_id(df):
        print("Unique ID is not valid")
        return False
    if not is_valid_patient_name(df):
        print("Patient name is not valid")
        return False
    if not is_valid_vaccine_type(df):
        print("Vaccine type is not valid")
        return False
    if not is_valid_date_of_birth(df):
        print("Date of birth is not valid")
        return False
    if not is_valid_date_of_vaccination(df):
        print("Date of vaccination is not valid")
        return False
    return True

In [677]:
print("Is dataframe data valid :", is_valid_dataframe1(dt3))

Date of vaccination is not valid
Is dataframe data valid : False

In [678]:
tc.assertTrue( is_valid_dataframe1(dt3),"Data is not valid")

Date of vaccination is not valid

AssertionError: False is not true : Data is not valid

In [679]:
#Date of vaccination is not valid are rest of the columsn are valid

In [680]:
type(dt3['Date of Birth'].iloc[1])

pandas._libs.tslibs.timestamps.Timestamp

In [681]:
#Since we had one missing value we in 'Date of Birth' column we are 
#We use mean value imputation as most people are vaccinated around the same time durind or after the pandemic
dt3['Date of Birth'].fillna(dt3['Date of Birth'].mean() , inplace = True)

In [682]:
dt3.head()

,Unique ID,Patient Name,Vaccine Type,Date of Birth,Date of Vaccination
0,1,Mike,LMN,1998-01-26 12:00:00,2022-05-11 00:00:00
1,2,Jonnathan,XYZ,1997-12-13 00:00:00,2021-13-13
2,3,Cristina,ABC,1998-03-12 00:00:00,2022-03-12 00:00:00

In [683]:
#Format yyyy-mm-dd
type(dt3['Date of Vaccination'].iloc[0])

datetime.datetime

In [684]:
#Timestamp is the pandas equivalent of python's Datetime and is interchangeable with it in most cases.
s_datetime =  dt3['Date of Vaccination'].iloc[0]
date_time_str = s_datetime.strftime("%Y-%m-%d %H:%M:%S")
print('DateTime String:', date_time_str)

DateTime String: 2022-05-11 00:00:00

In [685]:
#Lets add a function to check if the date values are valid in a column. It replaces the erronous with mean. Can use
#backfill and forwardfill as well

In [686]:
def correctDate(date_ser):
    res = pd.to_datetime(date_ser,errors='coerce')
    res.fillna(res.mean() , inplace = True)
    return res

In [687]:
dt3['Date of Vaccination'] =  correctDate(dt3['Date of Vaccination'])

In [688]:
print("Is date of vaccination valid :", is_valid_date_of_vaccination(dt3))

Is date of vaccination valid : True

In [689]:
dt3.head()

   Unique ID Patient Name Vaccine Type       Date of Birth Date of Vaccination
0          1         Mike          LMN 1998-01-26 12:00:00          2022-05-11
1          2    Jonnathan          XYZ 1997-12-13 00:00:00          2022-04-11
2          3     Cristina          ABC 1998-03-12 00:00:00          2022-03-12

In [690]:
#We can use other date clumns also with correctDateDunction to check and correct dates

In [691]:
dt1.head()

   ID  Name VaccinationType VaccinationDate
0   1   Sam             EFG      2022-06-15
1   2  John             XYZ      2022-10-05
2   3  Mike             ABC      2021-12-28

In [692]:
dt2.head()

   ID    Name         DOB VaccinationType VaccinationDate Free or Paid
0   1   Vikas  1998-12-01             XYZ      2022-01-01            F
1   2   Rahul  1982-08-13             ABC      2022-03-05            P
2   3  Sameer  1952-08-13             ABC      2022-02-20            F

In [693]:
dt3.head()

   Unique ID Patient Name Vaccine Type       Date of Birth Date of Vaccination
0          1         Mike          LMN 1998-01-26 12:00:00          2022-05-11
1          2    Jonnathan          XYZ 1997-12-13 00:00:00          2022-04-11
2          3     Cristina          ABC 1998-03-12 00:00:00          2022-03-12

In [694]:
dt1['Country'] = ["USA"] * 3

In [695]:
dt2['Country'] = ["IND"] * 3

In [696]:
dt3['Country'] = ["AUS"] * 3

In [697]:
dt3 = dt3.rename(columns={'Unique ID': 'ID', 'Patient Name': 'Name', 'Vaccine Type' : 'VaccinationType', 'Date of Birth': 'DOB', 'Date of Vaccination': 'VaccinationDate'})

In [698]:
dt3.head()

   ID       Name VaccinationType                 DOB VaccinationDate Country
0   1       Mike             LMN 1998-01-26 12:00:00      2022-05-11     AUS
1   2  Jonnathan             XYZ 1997-12-13 00:00:00      2022-04-11     AUS
2   3   Cristina             ABC 1998-03-12 00:00:00      2022-03-12     AUS

In [699]:
li = ['Name', 'VaccinationType', 'VaccinationDate', 'Country']
dt_list = [dt1[li],
           dt2[li],
           dt3[li]]

In [700]:
dt_res = pd.concat(dt_list, ignore_index=True)

In [701]:
#Merged data into single source of truth. Other columns are not needed to answer the questions hence not added
dt_res

        Name VaccinationType VaccinationDate Country
0        Sam             EFG      2022-06-15     USA
1       John             XYZ      2022-10-05     USA
2       Mike             ABC      2021-12-28     USA
3      Vikas             XYZ      2022-01-01     IND
4      Rahul             ABC      2022-03-05     IND
5     Sameer             ABC      2022-02-20     IND
6       Mike             LMN      2022-05-11     AUS
7  Jonnathan             XYZ      2022-04-11     AUS
8   Cristina             ABC      2022-03-12     AUS

In [702]:
#Total vaccination count by country and vaccination type
dt_res.groupby(["Country","VaccinationType"]).size()

Country  VaccinationType
AUS      ABC                1
         LMN                1
         XYZ                1
IND      ABC                2
         XYZ                1
USA      ABC                1
         EFG                1
         XYZ                1
dtype: int64

In [703]:
df_res1 =  dt_res.groupby(["Country","VaccinationType"]).size()

In [738]:
type(df_res1)

pandas.core.frame.DataFrame

Note : For unit testing of results inside the function where unit tests are being done; since the dataframe is small I used it in its entirety. 

This is a naive way to do it. For a big dataset we can use a sample small dataframe and use expected output for it. If our algorithm / logic works for the smaller dataframe it must work for any bigger sized one as well. Becuase for very big datasets we cannot calculate all the expected values manually. Smaller data frame can be an extract or part or the bigger one or a dataframe which we create synthetically mimicing the column names and data types of the original dataframe.

Also another way is to use function that takes (dataframe or series) and (expected output) as input parameters.

In [739]:
#Unit test for testing total vaccination count by country and type



def test_total_vaccination_count():
    # create a sample DataFrame
    data = {'Name': ['Sam', 'John', 'Mike', 'Vikas', 'Rahul', 'Sameer', 'Mike', 'Jonnathan', 'Cristina'],
        'VaccinationType': ['EFG', 'XYZ', 'ABC', 'XYZ', 'ABC', 'ABC', 'LMN', 'XYZ', 'ABC'],
        'VaccinationDate': ['2022-06-15', '2022-10-05', '2021-12-28', '2022-01-01', '2022-03-05', '2022-02-20', '2022-05-11', '2022-04-11', '2022-03-12'],
        'Country': ['USA', 'USA', 'USA', 'IND', 'IND', 'IND', 'AUS', 'AUS', 'AUS']}
    df = pd.DataFrame(data)
    
    # get the expected output
    expected_output = pd.DataFrame({'Count': [1, 1, 1, 2, 1, 1,1,1]}, index=pd.MultiIndex.from_tuples([('AUS', 'ABC'),('AUS', 'LMN'), ('AUS', 'XYZ'), ('IND', 'ABC'), ('IND', 'XYZ'), ('USA', 'ABC'), ('USA', 'EFG'),('USA', 'XYZ')], names=['Country', 'VaccinationType']))
    
   
    actual_output = df.groupby(["Country", "VaccinationType"]).size().reset_index(name="Count").set_index(["Country", "VaccinationType"])
  
    
    # compare the expected output to the actual output
    pd.testing.assert_frame_equal(expected_output, actual_output)
    return("Valid result data for : total vaccination count by country and type ")

In [740]:
print(test_total_vaccination_count())

Valid result data for : total vaccination count by country and type

In [741]:
# %vaccination in each country (You can assume values for total population)
#Lets assume population for USA is 5, IND is 10 and AUS is 4
pop_len = pd.Series([5,10,4])

In [742]:
pop_len.index = ['USA','IND','AUS']

In [743]:
vacc_len =  dt_res.groupby(["Country"]).size()

In [744]:
#Number of people vaccianted in each country
vacc_len

Country
AUS    3
IND    3
USA    3
dtype: int64

In [745]:
#Population of each country
pop_len

USA     5
IND    10
AUS     4
dtype: int64

In [712]:
res_percentage = pd.Series([])

for items in vacc_len.iteritems():
    res_percentage[items[0]] = (items[1] / pop_len[items[0]] * 100)

In [713]:
#Percentage vaccinated in each country
res_percentage

AUS    75.0
IND    30.0
USA    60.0
dtype: float64

In [714]:
#Unit test for percentage of vaccination in each country


def assert_series_equal(expected, actual, check_dtype=True, check_index_type=False):
    """
    Asserts that two Pandas Series objects are equal.

    Parameters:
    expected (pandas.Series): The expected Series object.
    actual (pandas.Series): The actual Series object.
    check_dtype (bool): Whether to check that the data types match. Defaults to True.
    check_index_type (bool): Whether to check that the index types match. Defaults to False.

    Raises:
    AssertionError: If the two Series objects are not equal.
    """

    # Check that the index objects are equal
    pd.testing.assert_index_equal(expected.index, actual.index)

    # Check that the data values are equal
    pd.testing.assert_series_equal(expected, actual, check_dtype=check_dtype)

    # Check that the index types are equal, if requested
    if check_index_type:
        assert type(expected.index) == type(actual.index)


def test_vaccination_percentage():
    # create a sample DataFrame
    data = {'Name': ['Sam', 'John', 'Mike', 'Vikas', 'Rahul', 'Sameer', 'Mike', 'Jonnathan', 'Cristina'],
        'VaccinationType': ['EFG', 'XYZ', 'ABC', 'XYZ', 'ABC', 'ABC', 'LMN', 'XYZ', 'ABC'],
        'VaccinationDate': ['2022-06-15', '2022-10-05', '2021-12-28', '2022-01-01', '2022-03-05', '2022-02-20', '2022-05-11', '2022-04-11', '2022-03-12'],
        'Country': ['USA', 'USA', 'USA', 'IND', 'IND', 'IND', 'AUS', 'AUS', 'AUS']}
    df = pd.DataFrame(data)
    
    pop_len = pd.Series([5,10,4])
    pop_len.index = ['USA','IND','AUS'] 
    
    vacc_len =  df.groupby(["Country"]).size()
    
    res_percentage = pd.Series([])

    for items in vacc_len.iteritems():
        res_percentage[items[0]] = (items[1] / pop_len[items[0]] * 100)
    
    
   
    # get the expected output
    data = {'AUS': 75.0, 'IND': 30.0, 'USA': 60.0}
    s = pd.Series(data)
    
    
    # compare the expected output to the actual output
    assert_series_equal(res_percentage, s)
    return("Valid result data for : percentage of vaccination coverage in each country ")

In [715]:
print(test_vaccination_percentage())

Valid result data for : percentage of vaccination coverage in each country

In [716]:
# % vaccination contribution by country (Sum of percentages add up to 100)
#What I understood by this is is that for each country we need to find which type of vaccination contributed how much

vacc_per_type = dt_res.groupby(["Country","VaccinationType"]).size()

In [717]:
vacc_per_type.index

MultiIndex([('AUS', 'ABC'),
            ('AUS', 'LMN'),
            ('AUS', 'XYZ'),
            ('IND', 'ABC'),
            ('IND', 'XYZ'),
            ('USA', 'ABC'),
            ('USA', 'EFG'),
            ('USA', 'XYZ')],
           names=['Country', 'VaccinationType'])

In [718]:
vacc_per_type

Country  VaccinationType
AUS      ABC                1
         LMN                1
         XYZ                1
IND      ABC                2
         XYZ                1
USA      ABC                1
         EFG                1
         XYZ                1
dtype: int64

In [719]:
res_type_percentage = pd.Series([])
#idx = pd.MultiIndex.from_arrays([[],[]])
#res_type_percentage = pd.DataFrame(index=idx)

for items in vacc_per_type.iteritems():
    print(items[0],  items[0][0], items[0][1],items[1])
    # Per Country per type vaccine count
    # (vacc_per_type[items[0]])
    # per country total vaccine count
    # ( vacc_len[items[0][0]] )
    res_type_percentage = res_type_percentage.append(pd.Series(vacc_per_type[items[0]] / vacc_len[items[0][0]]))
    print(vacc_per_type[items[0]] / vacc_len[items[0][0]])

('AUS', 'ABC') AUS ABC 1
0.3333333333333333
('AUS', 'LMN') AUS LMN 1
0.3333333333333333
('AUS', 'XYZ') AUS XYZ 1
0.3333333333333333
('IND', 'ABC') IND ABC 2
0.6666666666666666
('IND', 'XYZ') IND XYZ 1
0.3333333333333333
('USA', 'ABC') USA ABC 1
0.3333333333333333
('USA', 'EFG') USA EFG 1
0.3333333333333333
('USA', 'XYZ') USA XYZ 1
0.3333333333333333

In [720]:
print(res_type_percentage)

0    0.333333
0    0.333333
0    0.333333
0    0.666667
0    0.333333
0    0.333333
0    0.333333
0    0.333333
dtype: float64

In [721]:
 res_type_percentage.index =  vacc_per_type.index

In [722]:
print(res_type_percentage)

Country  VaccinationType
AUS      ABC                0.333333
         LMN                0.333333
         XYZ                0.333333
IND      ABC                0.666667
         XYZ                0.333333
USA      ABC                0.333333
         EFG                0.333333
         XYZ                0.333333
dtype: float64

In [723]:
#In Australia what percentage of users were vaccianted by ABC vaccine ?
res_type_percentage[('AUS','ABC')]

0.3333333333333333

In [724]:
#For each country the various percentages add upto 100
res_type_percentage

Country  VaccinationType
AUS      ABC                0.333333
         LMN                0.333333
         XYZ                0.333333
IND      ABC                0.666667
         XYZ                0.333333
USA      ABC                0.333333
         EFG                0.333333
         XYZ                0.333333
dtype: float64

In [725]:
#Unit test for % vaccination contribution by each type per country. Verification is done to ensure that for each country
# sum of percentages add up to 100


def test_vaccination_percentage_contribution():
    # create a sample DataFrame
    data = {'Name': ['Sam', 'John', 'Mike', 'Vikas', 'Rahul', 'Sameer', 'Mike', 'Jonnathan', 'Cristina'],
        'VaccinationType': ['EFG', 'XYZ', 'ABC', 'XYZ', 'ABC', 'ABC', 'LMN', 'XYZ', 'ABC'],
        'VaccinationDate': ['2022-06-15', '2022-10-05', '2021-12-28', '2022-01-01', '2022-03-05', '2022-02-20', '2022-05-11', '2022-04-11', '2022-03-12'],
        'Country': ['USA', 'USA', 'USA', 'IND', 'IND', 'IND', 'AUS', 'AUS', 'AUS']}
    df = pd.DataFrame(data)
    
    vacc_per_type = dt_res.groupby(["Country","VaccinationType"]).size()
   
    res_type_percentage = pd.Series([])
   

    for items in vacc_per_type.iteritems():
        res_type_percentage = res_type_percentage.append(pd.Series(vacc_per_type[items[0]] / vacc_len[items[0][0]]))
        
       
    res_type_percentage.index =  vacc_per_type.index
    
    #convert multi index series to dataframe
    df1 = res_type_percentage.reset_index(name='Percentage')
    
    #Check if for every country the sum of all percentage of vaccination by types adds to 100
    
    
    # group the dataframe by 'Country'
    grouped = df1.groupby('Country')['Percentage'].sum()
    is_equal_to_100 = (grouped == 1).all()

    if is_equal_to_100 == True:
        return "The sum of percentages does not add upto 100 for all countries"
    else:
        return "The sum of percentages does not add upto 100 ERROR "

In [726]:
print(test_vaccination_percentage_contribution())

The sum of percentages does not add upto 100 for all countries

In [727]:
type(df_res1)

pandas.core.series.Series

In [728]:
#Since POWERBI consumes dataframes lets convert the resultant series into dataframes. These datafarames can also be 
# converted to excel which can be consumed by PowerBI

In [729]:
# Metric 1: CountryName, VaccinationType, No. of vaccinations

df_res1 = df_res1.reset_index()

In [730]:
df_res1 = df_res1.rename(columns={0: 'No of vaccinations'})

In [731]:
print(df_res1)

  Country VaccinationType  No of vaccinations
0     AUS             ABC                   1
1     AUS             LMN                   1
2     AUS             XYZ                   1
3     IND             ABC                   2
4     IND             XYZ                   1
5     USA             ABC                   1
6     USA             EFG                   1
7     USA             XYZ                   1

In [732]:
# Metric 2: CountryName, % Vaccinated

df_res2 = res_percentage.reset_index()

In [733]:
df_res2 = df_res2.rename(columns={'index': 'Country', 0: '% vaccination'})

In [734]:
print(df_res2)

  Country  % vaccination
0     AUS           75.0
1     IND           30.0
2     USA           60.0

In [735]:
# Metric 3: CountryName, % Vaccinated
df_res3 = res_type_percentage.reset_index()

In [736]:
df_res3 = df_res3.rename(columns={ 0: '% vaccination type/country'})

In [737]:
print(df_res3)

  Country VaccinationType  % vaccination type/country
0     AUS             ABC                    0.333333
1     AUS             LMN                    0.333333
2     AUS             XYZ                    0.333333
3     IND             ABC                    0.666667
4     IND             XYZ                    0.333333
5     USA             ABC                    0.333333
6     USA             EFG                    0.333333
7     USA             XYZ                    0.333333